/* all the boxes */
.numbers {
background-color: #3E1AA1;
width: fit-content;
margin: auto;
margin-bottom: 20px;
font-size: 30px;
font-weight: bold;
} 

.all_offers {
margin-top: 100px;
width: 90%;
border-radius: 20px;
}

.boxes {
padding: 20px;
border-radius: 15px;
background-color: #3E1AA1;
}

.tittle_text {
font-size: 20px;
font-weight: bold;
}

.paragraph {
font-size: 10px;
}


/* responsive */
@media (min-width: 400px) {
.numbers {
background-color: #3E1AA1;
width: fit-content;
margin: auto;
margin-bottom: 20px;
font-size: 30px;
font-weight: bold;
} 

.all_offers {
margin-top: 100px;
width: 80%;
border-radius: 20px;
}

.boxes {
padding: 20px;
border-radius: 15px;
background-color: #3E1AA1;
}

.tittle_text {
font-size: 23px;
}

.paragraph {
font-size: 14px;
}
}


/* responsive */
@media (min-width: 800px) {
.numbers {
background-color: #3E1AA1;
width: fit-content;
margin: auto;
margin-bottom: 20px;
font-size: 30px;
font-weight: bold;
} 

.all_offers {
margin-top: 100px;
width: 70%;
border-radius: 20px;
}

.boxes {
padding: 20px;
border-radius: 15px;
background-color: #3E1AA1;
}

.tittle_text {
font-size: 30px;
}

.paragraph {
font-size: 20px;
}
}