


/* general */
body {
padding: 0;
margin: 0;
box-sizing: border-box;
color: white;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}





































/* menu_contents */

.Hamburger_menu_content {
background-color: #2C1271;
}







/* navbar_buttons */
.navb_btn_1 {
outline-style:solid;
outline-color: #D36A78;
outline-width: 1px;
color: white;
border-radius: 20px;
}

.navb_btn_1:hover {
background-color: #D36A78;
}

.navb_btn_2 {
background-color: #D36A78;
color: white;
border-radius: 20px;
}

.navb_btn_2:hover {
background-color: #d36a78ac;
}




/* navbar_hover_underline */

.navbar_links{
display: block;
position: relative;
padding: 0.2em 0;
}


.navbar_links::after{
content: '';
position: absolute;
bottom: 0;
left: 20%;
width: 60%;
height: 0.2em;
background-color: #e37886;
opacity: 0;
transition: opacity 300ms, transform 300ms;
}

.navbar_links:hover::after,
.navbar_links:focus::after {
opacity: 1;
transform: translate3d(0, 0.2em, 0);
}





/* navbar_logo_and_color */
.img {
width: 60px;
}

.thewholenav {
background-color: #7143f0;
}






















/* showcase */
.Tittle_showcase {
margin-top: 20px;
font-size: 10px;
font-weight: bold;
}
.background_text {
font-size:9px;
}
.showcase_btn {
margin-top: -25px;
background-color: #D36A78;
font-size: 7px;
padding: 4px;
color: white;
border-radius: 20px;
}


/* responsive showcase */

@media (min-width: 350px) { 
.Tittle_showcase {
margin-top: 50px;
/* font-size: 10px;
font-weight: bold; */
}
}


@media (min-width: 400px) { 
.Tittle_showcase {
/* margin-top: 20px; */
font-size: 17px;
}
.background_text {
font-size:12px;
}
.showcase_btn {
margin-top: 0px; 
/* background-color: #D36A78; */
font-size: 12px;
padding: 5px;
/* color: white; */
}
}


@media (min-width: 500px) { 
.Tittle_showcase {
/* margin-top: 20px; */
font-size: 23px;
}
.background_text {
font-size:17px;
}
.showcase_btn {
margin-top: 0px; 
/* background-color: #D36A78; */
font-size: 17px;
padding: 5px;
/* color: white; */
}
}


@media (min-width: 600px) { 
.Tittle_showcase {
/* margin-top: 20px; */
font-size: 28px;
}
.background_text {
font-size:22px;
}
.showcase_btn {
margin-top: 0px; 
/* background-color: #D36A78; */
font-size: 20px;
padding: 6px;
/* color: white; */
}
}



@media (min-width: 750px) { 
.Tittle_showcase {
margin-top: 90px;
font-size: 35px;
}
.background_text {
font-size:25px;
}
.showcase_btn {
margin-top: 0px; 
/* background-color: #D36A78; */
font-size: 25px;
padding: 7px;
border-radius: 50px;

/* color: white; */
}
}






@media (min-width: 850px) { 
.Tittle_showcase {
margin-top: 70px;
font-size: 45px;
}
.background_text {
font-size:30px;
}
.showcase_btn {
margin-top: 0px; 
/* background-color: #D36A78; */
font-size: 30px;
padding: 9px;
border-radius: 60px;
/* color: white; */
}
}



@media (min-width: 992px) { 
.Tittle_showcase {
margin-top: 70px;
font-size: 35px;
}
.background_text {
font-size:20px;
text-align: justify;

}
.showcase_btn {
margin-top: 0px; 
/* background-color: #D36A78; */
font-size: 20px;
padding: 6px;
border-radius: 60px;
/* color: white; */
}
}
    








@media (min-width: 1160px) { 
.Tittle_showcase {
margin-top: 100px;
font-size: 40px;
}
.background_text {
font-size:25px;
text-align: justify;

}
.showcase_btn {
/* margin-top: 0px;  */
/* background-color: #D36A78; */
font-size: 25px;
padding: 7px;
border-radius: 60px;
/* color: white; */
}
}
        




@media (min-width: 1400px) { 
.Tittle_showcase {
margin-top: 60px;
font-size: 50px;
}
.background_text {
font-size:35px;
text-align: justify;
}
.showcase_btn {
/* margin-top: 0px;  */
/* background-color: #D36A78; */
font-size: 35px;
padding: 7px;
border-radius: 60px;
/* color: white; */
}
}































/* below_background_boxes */
.boxes_background {
background-color: #D36A78;
max-width: 80%;
box-shadow:-2px -1px 3px rgba(43, 43, 43, 0.354);
margin-top: 50px;

}



.card_title {
font-size: 10px;
font-weight: bold;
}

.card_text {
font-size: 7px;
text-align: justify;
direction: rtl;
}
















@media (min-width: 350px) { 
.boxes_background {
background-color: #D36A78;
max-width: 80%;
box-shadow:-2px -1px 3px rgba(43, 43, 43, 0.354);
} 

.card_title {
font-size: 14px;
/* font-weight: bold; */
}

.card_text {
font-size: 9px;
}
}





@media (min-width: 450px) { 
.boxes_background {
background-color: #D36A78;
max-width: 80%;
box-shadow:-2px -1px 3px rgba(43, 43, 43, 0.354);
} 

.card_title {
font-size: 15px;
/* font-weight: bold; */
}

.card_text {
font-size: 13px;
}
}





@media (min-width: 700px) { 
.boxes_background {
background-color: #D36A78;
max-width: 80%;
box-shadow:-2px -1px 3px rgba(43, 43, 43, 0.354);
} 

.card_title {
font-size: 19px;
/* font-weight: bold; */
}

.card_text {
font-size: 16px;
}
}






@media (min-width: 800px) { 

.card_title {
font-size: 22px;
/* font-weight: bold; */
}

.card_text {
font-size: 18px;
}
}
    






@media (min-width: 992px) { 
    .boxes_background {
        max-width: 300px;
        position: relative;
        top: -80px;
   }

   .boxes_background2 {
    margin-left: 20px;
    margin-right: 20px;
   }


   .card_title {
   font-size: 15px;
   /* font-weight: bold; */
   }
   
   .card_text {
   font-size: 11px;
   }
   }












/* below_boxes_paragraph */

.paragraph_below_boxes {
margin-top: 200px;
width: 90%;
}

.paragraph_below_boxes_row {
text-align: justify;
direction: rtl;
}

.header_paragraph {
color: #D36A78;
font-size:18px;
font-weight: bold;
}

.Paragraph_text {
font-size: 13px;
color: black;
}
    
    
    /* Large devices (desktops, 992px and up) */

    
    
@media (min-width: 350px) { 

/* .paragraph_below_boxes {
margin-top: 200px;
width: 90%;
}

.paragraph_below_boxes_row {
text-align: justify;
direction: rtl;
} */

.header_paragraph {
color: #D36A78;
font-size:25px;
font-weight: bold;
}

.Paragraph_text {
font-size: 17px;
color: black;
}



}




@media (min-width: 500px) { 

.paragraph_below_boxes {
margin-top: 200px;
width: 70%;
}

/* .paragraph_below_boxes_row {
text-align: justify;
direction: rtl;
}  */

.header_paragraph {
color: #D36A78;
font-size:30px;
font-weight: bold;
}

.Paragraph_text {
font-size: 24px;
color: black;
}


}







@media (min-width: 800px) { 

.paragraph_below_boxes {
/* margin-top: 200px; */
width: 70%;
}

/* .paragraph_below_boxes_row {
text-align: justify;
direction: rtl;
}  */

.header_paragraph {
color: #D36A78;
font-size:40px;
font-weight: bold;
}

.Paragraph_text {
font-size: 30px;
color: black;
}


}









@media (min-width: 992px) { 

.paragraph_below_boxes {
/* margin-top: 200px; */
width: 60%;
}

/* .paragraph_below_boxes_row {
text-align: justify;
direction: rtl;
}  */

.header_paragraph {
color: #D36A78;
font-size:35px;
font-weight: bold;
}

.Paragraph_text {
font-size: 25px;
color: black;
}


}
    



@media (min-width: 1200px) { 

.paragraph_below_boxes {
/* margin-top: 200px; */
width: 60%;
}

/* .paragraph_below_boxes_row {
text-align: justify;
direction: rtl;
}  */

.header_paragraph {
color: #D36A78;
font-size:45px;
font-weight: bold;
}

.Paragraph_text {
font-size: 35px;
color: black;
}


}













 
    






























/* background_body_boxes_and_btn */


.boxes_background_body {
background-color: #D36A78!important;
width: 80%;
box-shadow:-2px -1px 3px rgb(43, 43, 43, 0.5);
position: relative;
top: -550px;
}


.img_background_body_mobile {
position: relative;
top: 35px;
width: 100%;
height: 750px;
}


.title_above_boxes_body {
position: relative;
top: -510px;
}


.img_background_body {
width: 100%;
height: 900px;
}



.font_size {
font-size: 8px;
}

.card-title {
font-size: 13px;
font-weight: bold;
}





.body_boxes_btn {
position: relative;
top: -540px;

.btn_body {
background-color: #D36A78;
color: white;
}
}

.btn_body:hover{
background-color: #d36a78c6;
}







@media (min-width: 360px) {
/* .img_background_body {
width: 100%;
height: 900px;
} */




.title_above_boxes_body {
position: relative;
top: -530px;
}
/* 
.img_background_body_mobile {
position: relative;
top: 35px;
width: 100%;
height: 750px;
} */

.boxes_background_body {
background-color: #D36A78!important;
width: 80%;
box-shadow:-2px -1px 3px rgb(43, 43, 43, 0.5);
position: relative;
top: -570px;
}

.card-title {
font-size: 17px;
font-weight: bold;
}

.font_size {
font-size: 10px;
}



.body_boxes_btn {
position: relative;
top: -560px;


/* .btn_body {
background-color: #D36A78;
color: white;
} */
}

/* .btn_body:hover{
background-color: #d36a78c6;
} */

}









@media (min-width: 400px) {
/* .img_background_body {
width: 100%;
height: 200px;
} */




.title_above_boxes_body {
position: relative;
top: -630px;
.tittle_boxes_font_size {
font-size: 35px;
}
}

.img_background_body_mobile {
position: relative;
top: 35px;
width: 100%;
height: 850px;
}

.boxes_background_body {
background-color: #D36A78!important;
width: 70%;
box-shadow:-2px -1px 3px rgb(43, 43, 43, 0.5);
position: relative;
top: -660px;
}

.card-title {
font-size: 20px;
font-weight: bold;
}

.font_size {
font-size: 12px;
}



.body_boxes_btn {
position: relative;
top: -640px;


/* .btn_body {
background-color: #D36A78;
color: white;
} */
}

/* .btn_body:hover{
background-color: #d36a78c6;
} */

}












@media (min-width: 500px) {
/* .img_background_body {
width: 100%;
height: 200px;
} */




.title_above_boxes_body {
position: relative;
top: -630px;
.tittle_boxes_font_size {
font-size: 40px;
}
}

.img_background_body_mobile {
/* position: relative;
top: 35px;
width: 100%; */
height: 850px;
}

.boxes_background_body {
background-color: #D36A78!important;
width: 65%;
box-shadow:-2px -1px 3px rgb(43, 43, 43, 0.5);
position: relative;
top: -660px;
}

.card-title {
font-size: 20px;
font-weight: bold;
}

.font_size {
font-size: 12px;
}



.body_boxes_btn {
position: relative;
top: -650px;


/* .btn_body {
background-color: #D36A78;
color: white;
} */
}

/* .btn_body:hover{
background-color: #d36a78c6;
} */

}














@media (min-width: 700px) {
/* .img_background_body {
width: 100%;
height: 200px;
} */




.title_above_boxes_body {
position: relative;
top: -630px;
.tittle_boxes_font_size {
font-size: 40px;
}
}

.img_background_body_mobile {
/* position: relative;
top: 35px;
width: 100%; */
height: 850px;
}

.boxes_background_body {
background-color: #D36A78!important;
width: 60%;
box-shadow:-2px -1px 3px rgb(43, 43, 43, 0.5);
position: relative;
top: -660px;
}

.card-title {
font-size: 23px;
font-weight: bold;
}

.font_size {
font-size: 15px;
}



.body_boxes_btn {
position: relative;
top: -650px;


/* .btn_body {
background-color: #D36A78;
color: white;
} */
}

/* .btn_body:hover{
background-color: #d36a78c6;
} */

}




















@media (min-width: 800px) {
/* .img_background_body {
width: 100%;
height: 200px;
} */




.title_above_boxes_body {
position: relative;
top: -900px;
.tittle_boxes_font_size {
font-size: 50px;
}
}

.img_background_body_mobile {
/* position: relative;
top: 35px;
width: 100%; */
height: 1200px;
}

.boxes_background_body {
background-color: #D36A78!important;
width: 60%;
box-shadow:-2px -1px 3px rgb(43, 43, 43, 0.5);
position: relative;
top: -900px;
}

.card-title {
font-size: 28px;
font-weight: bold;
}

.font_size {
font-size: 18px;
}



.body_boxes_btn {
position: relative;
top: -880px;


.btn_body {
background-color: #D36A78;
color: white;
font-size: 18px;
}
}

/* .btn_body:hover{
background-color: #d36a78c6;
} */

}














@media (min-width: 992px) {
    /* .img_background_body {
    width: 100%;
    height: 200px;
    } */
    
    
    
    
    .title_above_boxes_body {
    position: relative;
    top: -570px;
    .tittle_boxes_font_size {
    font-size: 40px;
    }
    }
    
    .img_background_body_mobile {
    /* position: relative;
    top: 35px;
    width: 100%; */
    height: 1200px;
    }
    
    .boxes_background_body {
    background-color: #D36A78!important;
    width: 25%;
    box-shadow:-2px -1px 3px rgb(43, 43, 43, 0.5);
    position: relative;
    top: -570px;
    }
    
    .card-title {
    font-size: 15px;
    font-weight: bold;
    }
    
    .font_size {
    font-size: 10px;
    }
    
    
    
    .body_boxes_btn {
    position: relative;
    top: -540px;
    
    
    .btn_body {
    background-color: #D36A78;
    color: white;
    font-size: 18px;
    }
    }
    
    /* .btn_body:hover{
    background-color: #d36a78c6;
    } */
    
    }
    























































/* below_body_background_boxes */


.below_body_title {
color: black;
font-size: 20px;
font-weight: bold;
text-shadow: -1px -1px 5px rgba(0, 0, 0, 0.187);
}


.below_body_paragraph {
background-color:#3E1AA1;
padding-top: 30px;
padding-bottom: 30px;
/* padding-right: 5px;
padding-left: 5px; */
line-height: 40px;
width: 80%;
border-radius: 20px;
font-size: 15px;
}
    
    

@media (min-width: 350px) {

.below_body_title {
font-size: 25px;
}


.below_body_paragraph {
padding-top: 30px;
padding-bottom: 30px;
/* padding-right: 5px;
padding-left: 5px; */
width: 70%;
font-size: 18px;
}
}
       





@media (min-width: 500px) {

.below_body_title {
font-size: 28px;
}


.below_body_paragraph {
padding-top: 30px;
padding-bottom: 30px;
/* padding-right: 5px;
padding-left: 5px; */
width: 70%;
font-size: 23px;
}
}






@media (min-width: 800px) {

.below_body_title {
font-size: 37px;
}


.below_body_paragraph {
padding-top: 30px;
padding-bottom: 30px;
/* padding-right: 5px;
padding-left: 5px; */
line-height: 70px;
width: 80%;
font-size: 27px;
}
}





@media (min-width: 992px) {

.below_body_title {
font-size: 45px;
}


.below_body_paragraph {
line-height: 70px;
width: 80%;
font-size: 30px;
}
}






























































































/* return_button */
.return_button {
background-color: #3E1AA1;
color: white;
width: 100px;
font-size: 25px;
margin-top: 50px;
border: none;
border-radius: 20px;
}

.form_control_inputs_row {
display: flex;
justify-content: center;
}

.form_control_inputs {
background-color: #3E1AA1;
margin-top: 200px;
margin-bottom: 500px;
border-radius: 20px;
padding: 60px;
max-width: 70%;

text-align: right;
.form-control{
text-align: right;
height: 50px; 
}
}

.head_singup,.h_1 {
margin-bottom: 100px;
font-weight: bold;
font-size: 40px;
}

.h_2 {
font-size: 30px;
font-weight: 100;
margin-top: 40px;
}



/* responsive return_button */

@media (max-width: 992px) {
.form_control_inputs {
padding: 45px;
.form-control{
height: 30px; 
}
}
.head_singup,.h_1 {
font-size: 30px;
}


.h_2 {
font-size: 20px;
font-weight: 100;
margin-top: 40px;
}

.btn_singup {
padding: 5px;
font-size: 20px!important;
}

}



@media (max-width: 768px) {
.form_control_inputs {
margin-top: 200px;
border-radius: 20px;
padding: 20px;
max-width: 70%;

text-align: right;
.form-control{
text-align: right;
height: 20px; 
}
}


.head_singup,.h_1 {
margin-bottom: 25px;
font-weight: bold;
font-size: 20px;
}

.h_2 {
font-size: 15px;
font-weight: 100;
margin-top: 20px;
}

.btn_singup {
padding: 5px;
font-size: 10px!important;
}

}

























































/* footer */
.logo_footer {
max-width: 100px;
background-color: #3E1AA1;
margin-top: 300px;
margin-bottom: 20px;
}


.title_footer {
font-size: 18px;
}


.background_footer {
background-color: #3E1AA1;
}


@media (max-width: 768px) {

}