    /* below_background_boxes */
    .boxes_background {
        background-color: #D36A78!important;
        max-width: 300px;
        box-shadow:-2px -1px 3px rgb(43, 43, 43, 0.5);
      }
    
    
    
      .font_size {
        font-size: 11px;
      }
      
      
      .card-title {
        font-size: 15px;
        font-weight: bold;
      }
    
    
    
    /* Large devices (desktops, 992px and up) */
    @media (min-width: 992px) {
      .boxes_background {
        background-color: #D36A78!important;
        max-width: 300px;
        box-shadow:-2px -1px 3px rgb(43, 43, 43, 0.5);
        position: relative;
        top: -80px;
      }
    }
      
      
      /* Large devices (desktops, 992px and up) */
      @media (max-width: 450px) {
        .font_size {
        font-size: 7px;
      }
      
      
      .card-title {
        font-size: 10px;
        font-weight: bold;
      }
    
    
    
      .boxes_background {
        background-color: #D36A78!important;
        max-width: 70%;
      }
    
      }
    