  /* below_body_background_boxes */


  .below_body_title {
    color: black;
    font-size: 50px;
    font-weight: bold;
    text-shadow: -1px -1px 5px rgba(0, 0, 0, 0.305);
  }
  
    
  .below_body_paragraph {
    background-color:#3E1AA1;
    padding: 20px;
    width: 80%;
    height:fit-content;
    border-radius: 20px;
    font-size: 35px;
  }
  
  
  
  /* Medium devices (tablets, 768px and up) */
  @media (max-width: 768px) {
    .below_body_title {
  
    font-size: 30px;
  }
  
    
  .below_body_paragraph {
    font-size: 20px;
  }
  }