
/* showcase */
/* Small devices (landscape phones, 576px and up) */

.background_text {
  text-align: justify;
}


@media (max-width: 500px) {
              
    .below_navbar_text {
      padding-top: 90px!important;
      font-size: 6px;
      .Tittle_showcase {
        font-size: 15px;
      }
    }

    .background_text {
      text-align: justify;
    }


    .showcase_btn {
      background-color: #D36A78;
      color: white;
      font-size: 5px;
      margin-top: -10px!important;
      padding: 3px;
    }
  }



  







/* Medium devices (tablets, 768px and up) */
  @media (max-width: 546px) {
    .below_navbar_text {
      padding-top: 90px!important;
      font-size: 6px;
      .Tittle_showcase {
        font-size: 15px;
      }
    }

    .background_text {
      text-align: justify;
    }

    .showcase_btn {
      background-color: #D36A78;
      color: white;
      font-size: 5px;
      margin-top: -10px!important;
      padding: 3px;
    }
  }



/* X-Large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {

    .below_navbar_text {
      padding-top: 200px!important;
      font-size:20px;
      
      .Tittle_showcase {
        font-size: 40px;
      }
    }

    
    .background_text {
      text-align: justify;
    }

    .showcase_btn {
      background-color: #D36A78;
      color: white;
      font-size: 18px;
      padding: 1px;
    }
    
  }
