/* below_boxes_paragraph */

.paragraph_below_boxes {
margin-top: 70px;
width: 100%;
}

.paragraph_below_boxes_row {
text-align: justify;
direction: rtl;
word-spacing: 4px;
letter-spacing: 0px;
}

.header_paragraph {
color: #D36A78;
font-size:18px;
font-weight: bold;
}

.Paragraph_text {
font-size: 10px;
color: black;
}



@media (min-width: 350px) { 


.header_paragraph {
color: #D36A78;
font-size:20px;
font-weight: bold;
}

.Paragraph_text {
font-size: 14px;
color: black;
}



}




@media (min-width: 500px) { 

.paragraph_below_boxes {
margin-top: 200px;
width: 90%;
}


.header_paragraph {
color: #D36A78;
font-size:30px;
font-weight: bold;
}

.Paragraph_text {
font-size: 18px;
color: black;
}
}

@media (min-width: 768px) { 

.paragraph_below_boxes {
width: 80%;
}


.header_paragraph {
color: #D36A78;
font-size:30px;
font-weight: bold;
}

.Paragraph_text {
font-size: 20px;
color: black;
}


}







@media (min-width: 800px) { 

.paragraph_below_boxes {
/* margin-top: 200px; */
width: 80%;
}

/* .paragraph_below_boxes_row {
text-align: justify;
direction: rtl;
}  */

.header_paragraph {
color: #D36A78;
font-size:40px;
font-weight: bold;
}

.Paragraph_text {
font-size: 28px;
color: black;
}


}









@media (min-width: 992px) { 

.paragraph_below_boxes {
/* margin-top: 200px; */
width: 75%;
}

/* .paragraph_below_boxes_row {
text-align: justify;
direction: rtl;
}  */

.header_paragraph {
color: #D36A78;
font-size:40px;
font-weight: bold;
}

.Paragraph_text {
font-size: 25px;
color: black;
}


}




@media (min-width: 1200px) { 

.paragraph_below_boxes {
/* margin-top: 200px; */
width: 85%;
}

/* .paragraph_below_boxes_row {
text-align: justify;
direction: rtl;
}  */

.header_paragraph {
color: #D36A78;
font-size:45px;
font-weight: bold;
}

.Paragraph_text {
font-size: 35px;
color: black;
}


}

