


/* background_body_boxes_and_btn */


.boxes_background_body {
background-color: #D36A78!important;
width: 90%;
box-shadow:-2px -1px 3px rgb(43, 43, 43, 0.5);
position: relative;
top: -610px;
}


.img_background_body_mobile {
position: relative;
top: 35px;
width: 100%;
height: 800px;
}


.title_above_boxes_body {
position: relative;
top: -570px;
}



.img_background_body {
width: 100%;
height: 900px;
}

.card-title {
font-size: 13px;
font-weight: bold;

}

.font_size {
font-size: 9px;
width: 100%;
}







.body_boxes_btn {
position: relative;
top: -600px;

.btn_body {
background-color: #D36A78;
color: white;
}
}

.btn_body:hover{
background-color: #d36a78c6;
}

.image_sign_divs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image_signs {
    width: 70%;
}






@media (min-width: 360px) {
/* .img_background_body {
width: 100%;
height: 900px;
} */




.title_above_boxes_body {
position: relative;
top: -590px;
}
/* 
.img_background_body_mobile {
position: relative;
top: 35px;
width: 100%;
height: 750px;
} */

.boxes_background_body {
background-color: #D36A78!important;
width: 90%;
box-shadow:-2px -1px 3px rgb(43, 43, 43, 0.5);
position: relative;
top: -630px;
}

.card-title {
font-size: 18px;
font-weight: bold;
}

.font_size {
font-size: 11px;
}



.body_boxes_btn {
position: relative;
top: -610px;


/* .btn_body {
background-color: #D36A78;
color: white;
} */
}

/* .btn_body:hover{
background-color: #d36a78c6;
} */

}









@media (min-width: 400px) {
/* .img_background_body {
width: 100%;
height: 200px;
} */




.title_above_boxes_body {
position: relative;
top: -630px;
.tittle_boxes_font_size {
font-size: 35px;
}
}

.img_background_body_mobile {
position: relative;
top: 35px;
width: 100%;
height: 850px;
}

.boxes_background_body {
background-color: #D36A78!important;
width: 90%;
box-shadow:-2px -1px 3px rgb(43, 43, 43, 0.5);
position: relative;
top: -660px;
}



.body_boxes_btn {
position: relative;
top: -650px;


/* .btn_body {
background-color: #D36A78;
color: white;
} */
}

/* .btn_body:hover{
background-color: #d36a78c6;
} */

}



@media (min-width: 450px) {
.img_background_body_mobile {
position: relative;
top: 35px;
width: 100%;
height: 900px;
}
.title_above_boxes_body {
position: relative;
top: -690px;
.tittle_boxes_font_size {
font-size: 35px;
}
}

.boxes_background_body {
background-color: #D36A78!important;
width: 90%;
box-shadow:-2px -1px 3px rgb(43, 43, 43, 0.5);
position: relative;
top: -720px;
}

.body_boxes_btn {
position: relative;
top: -700px;
}
}








@media (min-width: 500px) {
/* .img_background_body {
width: 100%;
height: 200px;
} */




.title_above_boxes_body {
position: relative;
top: -630px;
.tittle_boxes_font_size {
font-size: 40px;
}
}

.img_background_body_mobile {
/* position: relative;
top: 35px;
width: 100%; */
height: 850px;
}

.boxes_background_body {
background-color: #D36A78!important;
width: 65%;
box-shadow:-2px -1px 3px rgb(43, 43, 43, 0.5);
position: relative;
top: -660px;
}

.card-title {
font-size: 15px;
font-weight: bold;
}

.font_size {
font-size: 12px;
}




.body_boxes_btn {
position: relative;
top: -650px;


/* .btn_body {
background-color: #D36A78;
color: white;
} */
}

/* .btn_body:hover{
background-color: #d36a78c6;
} */

}









@media (min-width: 600px) {
/* .img_background_body {
width: 100%;
height: 200px;
} */




.title_above_boxes_body {
position: relative;
top: -650px;
.tittle_boxes_font_size {
font-size: 30px;
}
}



.boxes_background_body {
background-color: #D36A78!important;
width: 60%;
box-shadow:-2px -1px 3px rgb(43, 43, 43, 0.5);
position: relative;
top: -680px;
}

.card-title {
font-size: 15px;
font-weight: bold;
}

.font_size {
font-size: 12px;
}




.body_boxes_btn {
position: relative;
top: -670px;


/* .btn_body {
background-color: #D36A78;
color: white;
} */
}

/* .btn_body:hover{
background-color: #d36a78c6;
} */

}





@media (min-width: 700px) {
/* .img_background_body {
width: 100%;
height: 200px;
} */




.title_above_boxes_body {
position: relative;
top: -720px;
.tittle_boxes_font_size {
font-size: 40px;
}
}

.img_background_body_mobile {
/* position: relative;
top: 35px;
width: 100%; */
height: 950px;
}

.boxes_background_body {
background-color: #D36A78!important;
width: 60%;
box-shadow:-2px -1px 3px rgb(43, 43, 43, 0.5);
position: relative;
top: -750px;
}

.card-title {
font-size: 17px;
font-weight: bold;
}

.font_size {
font-size: 15px;
}



.body_boxes_btn {
position: relative;
top: -735px;


/* .btn_body {
background-color: #D36A78;
color: white;
} */
}

/* .btn_body:hover{
background-color: #d36a78c6;
} */

}




















@media (min-width: 800px) {
/* .img_background_body {
width: 100%;
height: 200px;
} */




.title_above_boxes_body {
position: relative;
top: -910px;
.tittle_boxes_font_size {
font-size: 45px;
}
}

.img_background_body_mobile {
/* position: relative;
top: 35px;
width: 100%; */
height: 1200px;
}

.boxes_background_body {
background-color: #D36A78!important;
width: 55%;
box-shadow:-2px -1px 3px rgb(43, 43, 43, 0.5);
position: relative;
top: -930px;
}

.card-title {
font-size: 20px;
font-weight: bold;
}

.font_size {
font-size: 18px;
}



.body_boxes_btn {
position: relative;
top: -910px;


.btn_body {
background-color: #D36A78;
color: white;
font-size: 18px;
}
}

/* .btn_body:hover{
background-color: #d36a78c6;
} */

}














@media (min-width: 992px) {
/* .img_background_body {
width: 100%;
height: 200px;
} */




.title_above_boxes_body {
position: relative;
top: -570px;
.tittle_boxes_font_size {
font-size: 40px;
}
}

.img_background_body_mobile {
/* position: relative;
top: 35px;
width: 100%; */
height: 1200px;
}

.boxes_background_body {
background-color: #D36A78;
width: 30%;
box-shadow:-2px -1px 3px rgb(43, 43, 43, 0.5);
position: relative;
top: -570px;
}

.card-title {
font-size: 14px;
font-weight: bold;
}

.font_size {
font-size: 11px;
}



.body_boxes_btn {
position: relative;
top: -540px;


.btn_body {
background-color: #D36A78;
color: white;
font-size: 18px;
}
}

/* .btn_body:hover{
background-color: #d36a78c6;
} */

}
