/* footer */
.logo_footer {
max-width: 100px;
background-color: #3E1AA1;
margin-top: 300px;
margin-bottom: 20px;
}


.title_footer {
font-size: 18px;
color: #3E1AA1!important;
}


.background_footer {
background-color: #3E1AA1;
}


.copy_right {
color: #3E1AA1!important;
}
